@import '../../shared/css/design.css';

/* general styling */
a {
    text-decoration: none;
}

/* header section */
.cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
}
.dropdown-menu li {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9ea4b1;
}
.dropdown-menu li::before {
  content: '•';
  font-size: 2rem;
  color: #2CBC63;
  display: inline;
}
.nav-menu{
    font-weight: 600;
    font-size: 1rem;
}
/* first navabr humburger menu  */
.navbar-light,
.collapse,
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    padding: 0;
    outline: none;
    border: 0;
    box-shadow: none;
}
#humburger {
    width: 45px;
    height: 45px;
    border: 2px solid white ;
    border-radius: 50%;
}
.toggler-icon {
    width: 25px;
    height: 3px;
    background-color: white;
}

/* modal section */
.card, .form-select,
.form-select:focus,.modal-header{
    border: none;
    outline: 0;
    box-shadow: none;
}
.select-underline {
    border-bottom: 1px solid #9ea4b1;
}

/* left offcanvas */
.cmn-text {
    font-size: 0.8em;
}