.cookieWrapper {
    position: fixed;
    bottom: 1.5rem;
    left: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #023a51;
    border-radius: 2px;
    opacity: 0.8;
    z-index: 9999;
}

@media only screen and (max-width: 425px) {
    .cookieWrapper {
        justify-content: space-evenly;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 15px 0;
    }
}

.cookieSelectionBtn {
    border: none;
    border-radius: 2px;
}

.cookieSelectionBtn--accept {
    background-color: #2cbc63;
}
