.btn-rounded-bordered {
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    border-radius: 50%;
    background-image: radial-gradient(
        at center,
        transparent 62%,
        #fff 70%,
        #fff 100%
    );
}
